extends layout

block content
  h1 Меню #{restaurantName}
  style.
    .menu-container {
      background-color: rgba(0, 0, 0, 0.7); /* Полупрозрачный чёрный фон для всего меню */
      padding: 20px; /* Внутренние отступы */
      border-radius: 10px; /* Скругление углов */
      color: white; /* Цвет текста внутри */
      margin: 10px; /* Отступы вокруг контейнера */
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      padding: 0;
      list-style-type: none;
    }
    li {
      margin: 10px; 
      flex: 1 1 calc(30% - 20px); /* Устанавливаем ширину карточек */
      box-sizing: border-box; 
    }
    .menu-card {
      background-color: transparent; /* Прозрачный фон для карточек */
      padding: 10px; /* Внутренние отступы */
      border-radius: 5px; /* Скругление углов */
      border: 1px solid white; /* Белая рамка для карточек */
      text-align: center; /* Центрирование текста внутри карточки */
    }
  .menu-container
    ul
      each item in menuItems
        li
          .menu-card
            h2(style="font-size: 19px;")= item.name
            img(src=`/imagemenu/${item.foto}` alt=`${item.name}` width=200 height=195)
            p Цена: #{item.price} руб.
            p= item.description
            form(action='/orders/cart/add', method='post')
              input(type='hidden', name='itemId', value=item.id)
              input(type='hidden', name='itemName', value=item.name)
              input(type='hidden', name='itemPrice', value=item.price)
              input(type='hidden', name='itemDescription', value=item.description)
              button(type='submit') Добавить в корзину
